# Database Configuration
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/ecommerce

# JWT Configuration
SECRET_KEY=your_secret_key_here  # Generar una clave segura para producción
REFRESH_SECRET_KEY=your_refresh_secret_key_here  # Generar una clave segura para producción

# Server Configuration
PORT=8000  # Puerto opcional - por defecto 8000

# Email Configuration
EMAIL_ADDRESS=your_email@gmail.com  # Tu dirección de Gmail
EMAIL_PASSWORD=your_app_password  # Contraseña de aplicación de Gmail

# Mercado Pago Configuration
MP_ACCESS_TOKEN="YOUR-MERCADO-PAGO-ACCESS-TOKEN"
MP_SUCCESS_URL="http://your-domain/api/payment/success"
MP_FAILURE_URL="http://your-domain/api/payment/failure"
MP_PENDING_URL="http://your-domain/api/payment/pending"
MP_NOTIFICATION_URL="http://your-domain/api/payment/webhook"